<h1>Edit Staff Member Information</h1>

<%= render 'form', certifier: @certifier %>
<script type="text/javascript">
    $(document).ready(function() {

        $("#certifier_certifier_id").attr("disabled", "disabled");

    });
</script>
<div class="return">
<%= link_to 'Return to Student Lobby', student_visits_path , class: 'btn btn-default' %>
</div>