<h1>New Frequently Asked Question</h1>

<%= render 'form', frequently_asked_question: @frequently_asked_question %>

<ul>
  <li class="faq-link"><%= link_to 'Back to Admin Panel', admin_users_path, class: 'btn btn-default' %></li>
</ul>
