
<p style="color: #fff; text-align:center; font-weight: 700;  text-shadow: 2px 2px 4px #000000;">Copyright &copy; NextVeteran &nbsp; 2017</p>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


