<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag('logo.png', :style => 'width:267px; height: 113px;')%></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">&nbsp;</a></li>
        <li><a href="#">&nbsp;</a></li>
        <li><a href="#">&nbsp;</a></li>
        <li><a href="#">&nbsp;</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <%if @username.nil? %>
        <li>
            <%=link_to access_login_path do %>
              <span style="color: #fff;">Login&nbsp;<span class="glyphicon glyphicon-log-in"></span></span>
             <% end %>
        </li>
        <% else %>
            <li>
              <span style="color: #fff; font-weight: 600; display: inline-block;">Logged in as:&nbsp;<%= @username %></span>
            </li>
            <li>
            <%=link_to  access_logout_path do %>
               <span style="color: #fff;">Logout&nbsp;<span class="glyphicon glyphicon-log-out"></span></span>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>