
<style>
  table tr td{
    border: 1px solid #eeeeee;
  }
  .media-object{
    border-radius: 100%;
  }
</style>

<h1>Please Select an Available Certifying Official</h1>
<table>
  <tr>
    <td>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="http://placehold.it/150x150" alt="img">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Certifier 1</h4>
          <p>VA Benefit: Ch33 Post/911 GI Bill</p>
        </div>
      </div>
    </td>
    <td width="100">
      <div class="checkbox">
        <label><input type="checkbox" value="">Certifier 1</label>
      </div>
    </td>
  </tr>


  <tr>
    <td>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="http://placehold.it/150x150" alt="img">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Certifier 2</h4>
          <p>VA Benefit: Ch33 Post/911 GI Bill</p>
        </div>
      </div>
    </td>
    <td>
      <div class="checkbox">
        <label><input type="checkbox" value="">Certifier 2</label>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="http://placehold.it/150x150" alt="img">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Certifier 3</h4>
          <p>VA Benefit: Ch33 Post/911 GI Bill</p>
        </div>
      </div>
    </td>
    <td>
      <div class="checkbox">
        <label><input type="checkbox" value="">Certifier 3</label>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="http://placehold.it/150x150" alt="img">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Certifier 4</h4>
          <p>VA Benefit: Ch33 Post/911 GI Bill</p>
        </div>
      </div>
    </td>
    <td>
      <div class="checkbox">
        <label><input type="checkbox" value="">Certifier 4</label>
      </div>
    </td>
  </tr>
</table>
